AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteRule ^(.*)\.[\d]{10}\.(css|js)$ $1.$2 [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . index.php
</IfModule>
